# dependencies
/node_modules

# dist
/dist

# test
coverage

# Miscellaneous
.eslintcache
*.log

# IDE - VSCode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
workspace.code-workspace

