.context-menu {
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  z-index: 10000;
  width: 150px;
  transform: scale(0);
  transition-property: transform;
  transition-timing-function: ease-in-out;

  &--black-theme {
    background: #1b1a1a;

    hr {
      background-color: #555;
    }

    & > *:not(hr) {
      color: #eee;

      &:hover {
        background: #555;
      }
    }
  }

  &--white-theme {
    background: #fff;

    hr {
      background-color: #e4e4e4;
    }

    & > *:not(hr) {
      color: #262626;

      &:hover {
        background: #e4e4e4;
      }
    }
  }

  &.visible {
    transform: scale(1);
  }

  hr {
    margin: 2px 0;
    height: 1px;
    border: 0;
  }

  & > *:not(hr) {
    padding: 8px 10px;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .menu-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    & > * {
      margin: 0;
      padding: 0;
      font-size: 16px;
    }
  }

  .nested-menu-arrow {
    line-height: 21px;
    font-size: 26px;
    position: relative;
    margin-left: auto;
  }
}
