div(class=`${style['context-menu']}`) 
    each item in menuItems
        if item === 'hr'
            hr
        else 
            div 
                if item.iconClass
                    i(class=`${item.iconClass}`)
                span=item.label