@layer {
  :host {
    position: fixed;
    z-index: 10000;
    animation: fadein 100ms;
    font-family: inherit;
  }

  :host(.hidden) {
    display: none;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
